.about-wrapper {
  margin-top: 120px;
  padding: 20px;
  min-height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* BOTTOM BACK BUTTON */
.back-home-btn {
  width: fit-content;
  align-self: center;

  background: rgb(144,34,43);
  color: white;

  padding: 12px 30px;
  border-radius: 30px;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;

  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 20px;
}

.back-home-btn:hover {
  background: rgb(100, 20, 26);
}

/* RESPONSIVE BUTTON */
@media (max-width: 600px) {
  .back-home-btn {
    width: 80%;
    text-align: center;
    font-size: 15px;
    padding: 12px 0;
  }
}
